.booking-home {
    .next {
        right:-14px !important;
    }
    .prev{
        left: 7px !important;
    }
    .slick-arrow{
        left:auto;
    }

    .slider-item {
        padding-top: 4px;
        padding-bottom: 4px;
        
        .booking-box {
            transition: all 0.5s;
            margin-left: 20px;
            height: 205px;
            padding: 8px;
            width: 100%;
            overflow: hidden;
            align-items: self-end;

            &:hover {
                box-shadow: 0 2px 10px -1px blueviolet;
            }
        }
    }
}

.report-content {
    margin-top:20px;
}
