.volunteer-section {
    background-color: white;
    .custom-radio {
        display: flex;
        align-items: center;
        gap: 12px;

        input {
            width: 4%;
        }
    }
    // .custom-form input {
    //     width: 100%;
    //     height: 50px;
    //     border: none;
    //     border-bottom: 1px solid #cbd3d9;
    //     background-color: transparent;
    //     font-size: 16px;
    //     color: #6e6e6e;
    //     font-weight: 500;
    //     font-family: "DM Sans",sans-serif;
    //     padding-left: 0!important;
    //     padding-bottom: 15px;
    // }
    // .custom-form .form-control:focus {
    // border-color: #1ea59a;
    // outline: 0;
    // box-shadow: none;
    // }
    // .custom-form .contact-lable {
    // position: absolute;
    // left: 27px;
    // top: -9px;
    // line-height: 20px;
    // font-weight: 500;
    // color: #828f99;
    // margin: 0px;
    // padding: 0px 7px;
    // z-index: 1;
    // }
    // .custom-form .invalid-feedback {
    //     color: #f52225;
    //     text-align: left;
    //     font-weight: 400;
    //     font-size: 14px;
    // }
}