/*=============================================
=            404            =
=============================================*/

.error-page-wrapper {
    min-height: 700px;
  
    @media #{$xl-device,
    $lg-device,
    $md-device} {
      min-height: 500px;
    }
  
    @media #{$xs-device} {
      min-height: 400px;
    }
  
    [class*="col-"] {
      height: auto;
      * {
        height: auto;
      }
    }
  }
  
  .error-page-content-wrap {
    font-size: 16px;
  
    height: auto;
    h2 {
      font-size: 120px;
      font-weight: 900;
      line-height: 1;
  
      color: $theme-color;
      text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  
      @media #{$xs-device} {
        font-size: 100px;
      }
    }
  
    h3 {
      font-size: 32px;
      margin-bottom: 12px;
      color: $black;
  
      @media #{$xs-device} {
        font-size: 20px;
        margin-bottom: 5px;
      }
    }
  }
  
  /*=====  End of 404  ======*/
  