:root {
    --#{$prefix}logo-lg-height:           40px;
    --#{$prefix}logo-sm-height:           30px;
    --#{$prefix}boxed-layout-bg:          $theme-color;
    --#{$prefix}leftbar-width:            240px;
    --#{$prefix}leftbar-width-md:         160px;
    --#{$prefix}leftbar-width-sm:         70px;
    --#{$prefix}leftbar-condensed-height: 1500px;
    --#{$prefix}topbar-height:             70px;
    --#{$prefix}menu-item-icon-size:       1.1rem;
    --#{$prefix}menu-item-icon-width:      40px;
    --#{$prefix}menu-item-font-size:       0.925rem;
    --#{$prefix}menu-item-padding-x:       10px;
    --#{$prefix}menu-item-padding-y:       10px;

    --#{$prefix}topbar-bg:                         #ffffff;
    --#{$prefix}topbar-item-color:                 'grey';
    --#{$prefix}topbar-item-hover-color:           #ffff;
    --#{$prefix}topbar-search-bg:                  'green';

    // Footer Height
    --#{$prefix}footer-height:             60px;

    // Card Border Width
    --#{$prefix}theme-card-border-width:   0px;
}

html[data-menu-color="light"] {
    --#{$prefix}menu-bg:                             #ffffff;
    --#{$prefix}menu-item-color:                       #{$gray-700};
    --#{$prefix}menu-item-hover-color:                 #{$primary};
    --#{$prefix}menu-item-active-color:                #{$primary};
    --#{$prefix}menu-item-active-bg:                   #{rgba($primary, 0.07)};
    --#{$prefix}menu-condensed-link-bg:                #313a46;
}

//Background left-sidebar
$bg-leftbar-dark: var(--#{$variable-prefix}bg-leftbar-dark);
$bg-leftbar-brand: var(--#{$variable-prefix}bg-leftbar-brand);
$bg-leftbar-gradient: var(--#{$variable-prefix}bg-leftbar-gradient);

// user box
$left-menu-user-box-border: var(--#{$variable-prefix}left-menu-user-box-border);
$left-menu-dark-user-box-border: var(--#{$variable-prefix}left-menu-dark-user-box-border);

// Dark leftbar menu color
$menu-item-color-dark: var(--#{$variable-prefix}menu-item-color-dark);
$menu-item-hover-color-dark: var(--#{$variable-prefix}menu-item-hover-color-dark);
$menu-item-active-color-dark: var(--#{$variable-prefix}menu-item-active-color-dark);

//Menu item
$menu-item: var(--#{$variable-prefix}menu-item);
$menu-item-hover: var(--#{$variable-prefix}menu-item-hover);
$menu-item-active: var(--#{$variable-prefix}menu-item-active);
$menu-sub-item-active: var(--#{$variable-prefix}menu-sub-item-active);
$menu-item-size: 0.95rem;
$menu-sub-item-size: 0.875rem;

// Horizontal Menu Item
$hori-menu-item-color: var(--#{$variable-prefix}hori-menu-item-color);

//Topbar Background
$bg-topbar-light: var(--#{$variable-prefix}bg-topbar-light);
$bg-topbar-dark: var(--#{$variable-prefix}bg-topbar-dark);


// Topbar Search
$topbar-search-bg: var(--#{$variable-prefix}topbar-search-bg);
$topbar-search-bg-dark: var(--#{$variable-prefix}topbar-search-bg-dark);

// Topnav Height (Horizontal)
$topnav-height: 55px;

// Topbar Height
$topbar-height: 70px;

// Footer
$footer-bg: var(--#{$variable-prefix}footer-bg);
$footer-color: var(--#{$variable-prefix}footer-color);
$footer-link-hover-color: var(--#{$variable-prefix}footer-link-hover-color);

// Body minimum height
$body-min-height: 1750px;

// Secondary font
$font-family-secondary: "Karla", sans-serif;

// Font weight
$font-weight-medium: 500;
$font-weight-semibold: 600;

// Dropdown Large
$dropdown-lg-width: 320px;

// Logo Display
$logo-dark-display: none;
$logo-light-display: block;

// Logo Display - Auth Pages
$logo-auth-dark-display: block;
$logo-auth-light-display: none;

// User authentication Background
$auth-bg: var(--#{$variable-prefix}auth-bg);
$auth-bg-alt: var(--#{$variable-prefix}auth-bg-alt);
$auth-img-bg: url("../images/bg-auth3.png");
$auth-img-bg-dark: url("../images/bg-auth-dark.jpg");
$auth-img-pattern-bg: url("../images/bg-pattern.png");

// Chat widget
$chat-primary-user-bg: var(--#{$variable-prefix}chat-primary-user-bg);
$chat-secondary-user-bg: var(--#{$variable-prefix}chat-secondary-user-bg);

// Card overlay
$card-overlay-bg: var(--#{$variable-prefix}card-overlay-bg);

// Input light gray
$input-light-bg: var(--#{$variable-prefix}input-light-bg);

// Components Shadows
$components-shadow-sm: none;
$components-shadow: none;
$components-shadow-lg: none;

// label
$label-font-weight: 500;

// Table Head
$table-head-font-weight: 700;

// Font weight
$font-weight-medium: 500;
$font-weight-semibold: 600;

// Email
$email-msg-container-bg: var(--#{$variable-prefix}email-msg-container-bg);

$logo-lg-height:                    var(--#{$prefix}logo-lg-height);
$logo-lg-width:                    200px;
$logo-sm-height:                    var(--#{$prefix}logo-sm-height);
$logo-sm-width:                    60px;

// Menu
$menu-bg:                                 $theme-color;
$menu-item-color:                         var(--#{$prefix}menu-item-color);
$menu-item-hover-color:                   var(--#{$prefix}menu-item-hover-color);
$menu-item-active-color:                  var(--#{$prefix}menu-item-active-color);
$menu-item-active-bg:                     var(--#{$prefix}menu-item-active-bg);


// Left Sidebar
$leftbar-width:                     var(--#{$prefix}leftbar-width);
$leftbar-width-md:                  var(--#{$prefix}leftbar-width-md);
$leftbar-width-sm:                  var(--#{$prefix}leftbar-width-sm);
$leftbar-condensed-height:          var(--#{$prefix}leftbar-condensed-height);

$menu-item-icon-size:               var(--#{$prefix}menu-item-icon-size);
$menu-item-icon-width:              var(--#{$prefix}menu-item-icon-width);
$menu-item-font-size:               var(--#{$prefix}menu-item-font-size);
$menu-item-padding-x:               var(--#{$prefix}menu-item-padding-x);
$menu-item-padding-y:               var(--#{$prefix}menu-item-padding-y);

// Boxed Layout
$boxed-layout-width:                1300px;
$boxed-layout-bg:                   var(--#{$prefix}tertiary-bg);


// Footer
$footer-height:                     var(--#{$prefix}footer-height);


// Background left-sidebar
$menu-condensed-link-bg:            var(--#{$prefix}menu-condensed-link-bg);





