.temple-footer-area {
    background: #eef1f6;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  
  .temple-footer-area.appie-footer-3-area {
    padding-top: 180px;
  }
  
  .temple-footer-area.appie-footer-3-area.appie-footer-5-area {
    background: #fff;
  }
  
  .temple-footer-area.appie-footer-about-area {
    padding-top: 230px;
  }
  
  .temple-footer-area.appie-footer-about-area.appie-footer-8-area {
    background: #fff;
  }
  
  .temple-footer-area.appie-footer-about-area.appie-footer-8-area .footer-about-widget .social ul li a {
    border: 2px solid #e6e7ea;
  }
  
  .temple-footer-area.appie-footer-about-area.appie-footer-8-area .footer-about-widget .social ul li a:hover {
    background: #db0f30;
    border-color: #db0f30;
    color: #fff;
  }
  
  .temple-footer-area.appie-footer-about-area.appie-footer-8-area .footer-navigation ul li a:hover {
    color: #db0f30;
  }
  
  .temple-footer-area.appie-footer-about-area.appie-footer-8-area .footer-widget-info ul li a i {
    color: #db0f30;
  }
  
  .temple-footer-area.appie-footer-about-area.appie-footer-8-area .footer-copyright .apps-download-btn ul li a {
    background: #0e1133;
    color: #fff;
    border-color: #0e1133;
  }
  
  .temple-footer-area.appie-footer-about-area.appie-footer-8-area .footer-copyright .apps-download-btn ul li a:hover {
    background: #fff;
    color: #0e1133;
  }
  
  .temple-footer-area.appie-footer-about-area.appie-footer-8-area .footer-copyright .apps-download-btn ul li a.item-2 {
    background: #fff;
    color: #0e1133;
  }
  
  .temple-footer-area.appie-footer-about-area.appie-footer-8-area .footer-copyright .apps-download-btn ul li a.item-2:hover {
    background: #0e1133;
    color: #fff;
    border-color: #0e1133;
  }
  
  .footer-about-widget {
    padding-right: 70px;
    margin-top: 30px;
  }
  
  .footer-about-widget img {
    width: 70px;
  }
  
  @media (max-width: 767px) {
    .footer-about-widget {
      text-align: center;
      padding-right: 0;
    }
  }
  
  .footer-about-widget p {
    padding-top: 25px;
  }
  
  .footer-about-widget>a {
    font-size: 15px;
    font-weight: 500;
    color: #0e1133;
    margin-top: 15px;
    text-decoration: none;
  }
  
  .footer-about-widget>a i {
    padding-left: 6px;
  }
  
  .footer-about-widget .social ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .footer-about-widget .social ul li {
    display: inline-block;
  }
  
  .footer-about-widget .social ul li a {
    height: 36px;
    width: 36px;
    display: block;
    text-align: center;
    background: #fff;
    color: #0e1133;
    border-radius: 6px;
    line-height: 36px;
    margin-right: 5px;
  }
  
  .footer-about-widget .social ul li a:hover {
    background: #2b70fa;
    color: #fff;
  }
  
  .footer-about-widget.footer-about-widget-2 ul li a:hover {
    background: #ff3e66;
  }
  
  .footer-about-widget.footer-about-widget-3 ul li a:hover {
    background: #ff6b58;
  }
  
  .footer-about-widget.footer-about-widget-6 ul li a:hover {
    background: #9b2cfa;
  }
  
  .footer-about-widget.footer-about-widget-5 ul li a:hover {
    background: #801f82;
  }
  
  .footer-navigation {
    margin-top: 30px;
  }
  
  @media (max-width: 767px) {
    .footer-navigation {
      text-align: center;
    }
  }
  
  .footer-navigation .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 18px;
  }
  
  .footer-navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .footer-navigation ul li a {
    color: #505056;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 6px;
    text-decoration: none;
  }
  
  .footer-navigation ul li a:hover {
    color: #2b70fa;
  }
  
  .footer-navigation.footer-navigation-2 ul li a:hover {
    color: #ff3e66;
  }
  
  .footer-navigation.footer-navigation-3 ul li a:hover {
    color: #ff6b58;
  }
  
  .footer-navigation.footer-navigation-6 ul li a:hover {
    color: #9b2cfa;
  }
  
  .footer-navigation.footer-navigation-5 ul li a:hover {
    color: #801f82;
  }
  
  .footer-widget-info {
    margin-top: 30px;
  }
  
  @media (max-width: 767px) {
    .footer-widget-info {
      text-align: center;
    }
  }
  
  .footer-widget-info .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 18px;
  }
  
  .footer-widget-info ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .footer-widget-info ul li {
    padding-bottom: 10px;
  }
  
  .footer-widget-info ul li a {
    color: #505056;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
    text-decoration: none;
  }
  
  .footer-widget-info ul li a i {
    position: absolute;
    left: 0;
    top: 0;
    color: #2b70fa;
  }
  
  .footer-copyright {
    padding-top: 35px;
    border-top: 1px solid #e1e5ec;
    margin-top: 20px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-copyright {
      display: block !important;
      text-align: center;
    }
  }
  
  @media (max-width: 767px) {
    .footer-copyright {
      display: block !important;
      text-align: center;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-copyright .apps-download-btn {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .footer-copyright .apps-download-btn {
      margin-bottom: 20px;
    }
  }
  
  .footer-copyright .apps-download-btn ul {
    padding: 0;
    list-style-type: none;
  }
  
  .footer-copyright .apps-download-btn ul li {
    display: inline-block;
    margin-right: 8px;
  }
  
  @media (max-width: 767px) {
    .footer-copyright .apps-download-btn ul li {
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-copyright .apps-download-btn ul li {
      margin-bottom: 0px;
    }
  }
  
  .footer-copyright .apps-download-btn ul li a {
    background: #fff;
    color: #0e1133;
    line-height: 40px;
    padding: 0 23px;
    border-radius: 6px;
    border: 2px solid #fff;
  }
  
  .footer-copyright .apps-download-btn ul li a i {
    padding-right: 6px;
  }
  
  .footer-copyright .apps-download-btn ul li a:hover {
    background: transparent;
    color: #0e1133;
    border-color: #e7eaef;
  }
  
  .footer-copyright .apps-download-btn ul li a.item-2 {
    background: transparent;
    color: #0e1133;
    border-color: #e7eaef;
  }
  
  .footer-copyright .apps-download-btn ul li a.item-2:hover {
    background: #fff;
    color: #0e1133;
  }
  
  .mt-30 {
    margin-top: 30px;
  }