.admin-income-report {
    .p-button {
        background: indianred;
        border: 1px solid indianred;
    }
    .p-button span {
        color:white;
    }
}
.admin-report-list-section {
    .card {
        &:hover {
            -moz-box-shadow: 0 2px 10px rgba(52,58,64,0.1);
            -webkit-box-shadow: 0 2px 10px rgba(52,58,64,0.1);
            box-shadow: 0 2px 10px rgba(52,58,64,0.1);
        }
    }
    .report-filter {
        .card-body {
            padding: 20px 20px;
            flex: 1 1 auto;
            position: relative;
        }
        .form-control {
            border-color: #E8E9E9;
            font-size: 14px;
            height: auto;
            &:focus {
                color: #495057;
                background-color: #fff;
                border-color: #80bdff;
                outline: 0;
                box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
            }
        }
        label {
            display: block !important;
        }
        button {
            margin-top: 5px;
        }

        .p-inputtext {
            height: 34px;
            border: 1px solid #dee2e6;
        }
    }
}