
// .google-map {
//     height: 80vh;
//     width: 100vw;
//     background-color: black;
//   }
  
  .map-container {
    height: 500px;
    overflow: hidden;
    margin-bottom: 50px;
  }
  .contact-heading{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 18px;
  }

  .contact-form{
    padding:30px 0;
  }
  .contact-box .card-text{
    line-height: 16px;
  }