
.google-map {
    height: 100vh;
    // width: 100vw;
    background-color: black;
  }
  
  .map-container {
    height: 100%;
    width: 100%;
  }
  .contact-heading{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 18px;
  }

  .contact-form{
    padding:0 5px;
  }
  .contact-box .card-text{
    line-height: 16px;
  }